# VS Code
.vscode/

# =========================
# C / C++ / CMake
# =========================

# Build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled object files
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Visual Studio
*.sdf
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
*.opensdf

# CLion / JetBrains
.idea/
*.iws
*.iml

# Other temporary files
*.log
*.tmp
*.swp
*.DS_Store
